<?xml version="1.0" encoding="utf-8"?>

<!--Ao mudar o package, renomeie colocando para procurar por comments e stringd
Também é bom dar um "make project" antes de apertar "run"-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="anastasoft.rallyvision"
    android:versionCode="43"
    android:versionName="1.99914">


    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />




    <!-- Ubertesters library user-permissions -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Ubertesters library user-permissions -->

<!--Mudar o nome do String do aplicativo se for assinatura! @see label-->
    <application
        android:name="anastasoft.rallyvision.controller.Controller"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">

        <meta-data android:name="ubertesters_organization_token" android:value="d9211398-85ac-11e4-983a-22000ac44c54"/>

        <activity
            android:name="anastasoft.rallyvision.activity.MenuPrincipal"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="anastasoft.rallyvision.activity.SettingsActivity"
            android:label="@string/settings_title_main"
            android:parentActivityName="anastasoft.rallyvision.activity.MenuPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="PsiClass:MenuPrincipal" />
        </activity>
        <activity
            android:name="anastasoft.rallyvision.activity.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@style/Dialog" />
        <activity
            android:name="anastasoft.rallyvision.activity.EscolheAluguel"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"

            android:theme="@style/Dialog" />
        <activity android:name="anastasoft.rallyvision.activity.swipelistview.ListaAfericoes"
                  android:label="@string/afericoes_editar"
                  android:parentActivityName="anastasoft.rallyvision.activity.MenuPrincipal">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="PsiClass:MenuPrincipal" />
        </activity>
        <activity android:name="anastasoft.rallyvision.activity.swipelistview.EditaPosicaoSlider"
                  android:label="@string/slider_editar"
                  android:parentActivityName="anastasoft.rallyvision.activity.MenuPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="PsiClass:MenuPrincipal" />
        </activity>

        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:icon="@drawable/ic_chooser"
            android:enabled="@bool/use_activity"
            android:exported="true"
            android:label="@string/choose_file" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

    </application>

</manifest>
